<div id="header">
  <text>@Html.ActionLink("Home", "Index", "Home") |</text>
  <text>@Html.ActionLink("Treats", "Index", "Treats") |</text>
  <text>@Html.ActionLink("Flavors", "Index", "Flavors") |</text>
  <text>@Html.ActionLink("Login", "Index", "Account")</text>
</div>
